:root {
    --bard-color-brand-text-gradient-stop-1: #4285f4;
    --bard-color-brand-text-gradient-stop-1-rgb: 66, 133, 244;
    --bard-color-brand-text-gradient-stop-2: #9b72cb;
    --bard-color-brand-text-gradient-stop-2-rgb: 155, 114, 203;
    --bard-color-brand-text-gradient-stop-3: #d96570;
    --bard-color-brand-text-gradient-stop-3-rgb: 217, 101, 112;
    --bard-color-surface: #131314;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter Variable", sans-serif;
    background-color: #121212;
}

/* Sleek scrollbars */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

@keyframes fadeIn {
    0% {
        /* background image slide */
        background-position: 0 0;
    }
    
    50% {
        /* background image slide */
        background-position: 50% 0;
    }

    100% {
        /* background image slide */
        background-position: 0 0;
    }
}
